<title>SmartOn has developed a framework based on extensive research on online learning.</title>
<meta name="description" content="Our Services starts from course seeding and takes the various levels of content development. We create online learning fun and interesting by giving it a bootcamp model.">
<div class="container-fluid" style="background-color: #E7E7E8;">
  <div class="container" style="margin-top: 10px; margin-bottom: 20px;">
    <div class="center">
      <h2>Course Content Services</h2><br>
    </div>

    <div class="col-md-4 col-xs-12">

      <div class="center">
        <h4 class="techhd">SmartOn's Online Course Development Framework</h4>
      </div>

      <ul>
        <li>Course Seeding</li><br>
        <li>Research & Benchmarking</li><br>
        <li>Identification of Performance Objectives</li><br>
        <li>Development of Learning Assets</li><br>
        <li>Integration into Learning Management System</li><br>
        <li>Evaluation & Regular Update</li><br>
      </ul>
    </div>

    <div class="col-md-4 col-xs-12">

      <div class="center">
        <h4 class="techhd">SmartOn's Online Course<br>Components</h4>
      </div>

      <ul>
        <li>Audio Visual Tutorials</li><br>
        <li>Projects</li><br>
        <li>Webinars</li><br>
        <li>Supplemental Learning Materials</li><br>
        <li>Discussion Forums</li><br>
        <li>Assessments</li><br>
      </ul>
    </div>

    <div class="col-md-4 col-xs-12">

      <div class="center">
        <br><h4 class="techhd">Why SmartOn</h4>
      </div>

      <ul>
        <li>Collaborative Approach: Our team works with your faculty and external SMEs to deliver high-quality, engaging and practical course content for students</li><br>
        <li>Global Team: Our team members are based in U.S. and India in order to deliver quality education products and services to our clients at economical costs</li><br>
        <li>Full Service Education Services: We offer a full suite of solutions within online learning domain in addition to content creation</li>
      </ul>
    </div>
  </div>

  <div class="container center" style="margin-bottom: 20px;">
    <a style="font-size: 16px;" target="_blank" href="Smarton_Course_Content_Services.pdf" class="btn btn-danger btn-lg" role="button">Learn More</a>
  </div><br>
</div>
