<title>Think Online College. Think SmarOn</title>
<meta name="description" content="Our Programs in Online Education are intented at providing you the best Online content that can bring out the best in you. If you have a thought on Online Colleges our program will give you every comfort of an offline course being online.">
<div class="container" style="padding-top: 20px; padding-bottom: 50px;">
  <div class="col-xs-12 col-md-12">
      <h2>Online Certification Programs</h2><br>
      <p>SmartOn partners with some of the leading Universities and Institutions to offer online programs to learners around the world. Each of these programs feature high quality learning resources in the form of interactive tutorials, video lectures, live face-to-face classes, real-world learning experiences through projects and a high-quality curriculum designed and delivered by our partner faculty & other practitioners.</p><br>
  </div>
  <div class="col-xs-12 col-md-12">
    <div class="well well-sm wellcolor">
      <h4>Design</h4>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 center">
    <div class="col-xs-12 col-md-4">
      <h3 class="designh">Interior Design</h3><br>
      <img class="pearl" src="assets/pearl.png">
    </div>

    <div class="col-xs-12 col-md-4 coursepic">
      <img src="assets/ID.jpg">
    </div>

    <div class="col-xs-12 col-md-1 coursepictab1">
    </div>

    <div class="col-xs-12 col-md-1 coursepictab2">
    </div>

    <div class="col-xs-12 col-md-2 coursebtndiv">
      <a target="_blank" href="http://www.pearllive.com/interior-design-courses.php" class="btn btn-primary btn-lg coursebtn" role="button">Learn More</a><br><br>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 center">

    <div class="col-xs-12 col-md-4">
      <h3 class="designh">Fashion Design</h3><br>
      <img class="pearl" src="assets/pearl.png">
    </div>

    <div class="col-xs-12 col-md-4 coursepic">
      <img src="assets/FD.jpg">
    </div>

    <div class="col-xs-12 col-md-1 coursepictab1">
    </div>

    <div class="col-xs-12 col-md-1 coursepictab2">
    </div>

    <div class="col-xs-12 col-md-2 coursebtndiv">
      <a target="_blank" href="http://info.smarton.co/fashiondesign" class="btn btn-primary btn-lg coursebtn" role="button">Learn More</a><br><br>
    </div>

  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 center" style="padding-bottom: 50px;">


    <div class="col-xs-12 col-md-4">
      <h3 class="designh">Graphic Design</h3><br>
      <img class="pearl" src="assets/pearl.png">
    </div>

    <div class="col-xs-12 col-md-4 coursepic">
      <img src="assets/ID.jpg">
    </div>

    <div class="col-xs-12 col-md-1 coursepictab1">
    </div>

    <div class="col-xs-12 col-md-1 coursepictab2">
    </div>

    <div class="col-xs-12 col-md-2 coursebtndiv">
      <a href="javascript:void(0);" class="btn btn-default btn-lg coursebtn" role="button">Coming Soon...</a><br><br>
    </div>

  </div>

<!--   <div class="col-xs-12 col-md-12">
    <div class="well well-sm wellcolor">
      <h4>Digital</h4>
    </div>
  </div> -->

  <!-- <div class="col-xs-12 col-md-10 col-md-offset-1 center">
    <div class="col-xs-12 col-md-4">
      <h3 class="designh">E-Commerce</h3><br>
      <img style="padding: 60px 16.5px; background-color: pink" src="assets/gal.jpg">
    </div>

    <div class="col-xs-12 col-md-4 coursepic">
      <img src="assets/e-commerce2.jpg">
    </div>

    <div class="col-xs-12 col-md-1 coursepictab3">
    </div>

    <div class="col-xs-12 col-md-1 coursepictab4">
    </div>

    <div class="col-xs-12 col-md-2 coursebtndiv">
      <a href="javascript:void(0);" class="btn btn-default btn-lg coursebtn" role="button">Coming Soon...</a><br><br>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 col-md-offset-1 center">
    <div class="col-xs-12 col-md-4">
      <h3 class="designh">Digital Marketing</h3><br>
      <img style="padding: 60px 16.5px; background-color: pink" src="assets/gal.jpg">
    </div>

    <div class="col-xs-12 col-md-4 coursepic">
      <img src="assets/marketing.jpg">
    </div>

    <div class="col-xs-12 col-md-1 coursepictab3">
    </div>

    <div class="col-xs-12 col-md-1 coursepictab4">
    </div>

    <div class="col-xs-12 col-md-2 coursebtndiv">
      <a href="javascript:void(0);" class="btn btn-default btn-lg coursebtn" role="button">Coming Soon...</a>
    </div> -->

  </div>
</div>