<div class="container-fluid">
  <div class="container">

    <div class="col-md-6 col-xs-12 col-md-offset-1 getstartedpdiv">

      <h2>You & SmartOn</h2>

      <p>SmartOn partners with leading Universities & Educational Institutes to help them design, develop and deliver the 21st century higher education, Online. We provide full-service, innovative online educational solutions. Your success is our success; we help you enable your vision and further your mission.<br><br>

      Whether you are thinking of going online now or looking for solutions to do it better, SmartOn can help you. Please share your details and we would love to get in touch with you to understand your needs better!</p>

      <h2>Our Current Partners</h2>

      <p>SmartOn has partnered with organizations globally including Pearl Academy (India’s #1 fashion & design school), New York Institute of Art & Design (leading Art & Design school based in New York), KPMG (world’s leading advisory firm, Naukri (India’s # 1 careers and job site) and many others Learn more.</p>

    </div>

    <div class="col-md-4 col-md-offset-1 col-xs-12">
      <h2 class="center">Get in touch</h2>
      <script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
      <script>
        hbspt.forms.create({ 
          portalId: '431252',
          formId: '3e3fd025-cbf8-44c8-9599-1910f52a308f'
        });
      </script>

    </div>

  </div>
</div>