<title>SmartOn’s Mission is to provide online education for educational Institutions</title>
<meta name="description" content="Smarton's Mission is to make leading universites show their presence Online and make them providers of best online education courses.">
<div class="container-fluid backgroundimg">
  <div class="container mpadding">
    <h1 class="center" style="text-transform: uppercase; text-decoration: underline; font-family: 'GothamLight';">Mission</h1><br><br>

    <div class="col-md-8 col-md-offset-2 col-xs-12">

      <p class="missionp">SmartOn’s mission is to partner with leading Universities and educational institutions to give their brands a wider presence through technology and make higher education more accessible, affordable, and effective.</p>
    </div>
  </div>
</div>