<title>Online Education we belive are imparted when our learners trust us. Our Partners are a testimony to this.</title>
<meta name="description" content="Smarton Partners with some of the most reputed Institutions, edtech giants and online education evangelists to provide you with an world class online education program that can help your offline colleges become online colleges.">
<div class="container">  
  <h4 style="margin-top: 20px; margin-bottom: 20px;">
    SmartOn works with some of the best and reputed educational organizations, corporates and investors.<br><br>
    Scroll below to know more about our current stakeholders.
  </h4>

  <div class="panel panel-default">
    <div class="well well-sm wellcolor">
      <h4>Customers</h4>
    </div>
    <div class="panel-body">

      <div class="col-xs-12 col-md-3">
        <img class="center-block pearlimg" style="max-width: 200px;" src="assets/pearl.png" >
      </div>

      <div class="col-xs-12 col-md-9">

        <h4 class="bold partnersh">Pearl Academy</h4><br>

        <p>Pearl Live, the online education initiative of Pearl Academy, offers professional certificate programs that will create value for working professionals and entrepreneurs in the creative industries. The courses have been developed with a focus on industry trends and relevance to the learner.</p><br>

        <p>Pearl Academy is a globally renowned institution of higher learning with a focus on internationalism, entrepreneurship and employability, catering to the needs of the design, fashion and business industries for over 20 years.</p><br>

        <p>SmartOn is online education partner for Pearl Academy</p><br>

        <a target="_blank" href="http://www.pearllive.com/" class="text-primary">Link to their website</a><br><br><hr><br>

      </div>
<!-- 
      <div class="col-xs-12 col-md-3">
        <img class="center-block galimg" style="max-width: 200px;" src="assets/gal.jpg">
      </div> -->
    </div>
  </div>
  <div class="panel panel-default">
    <div class="well well-sm wellcolor">
      <h4>Stategic Partners</h4>
    </div>
    <div class="panel-body">

      <div class="col-xs-12 col-md-3">
        <img class="center-block nyiadimg" style="max-width: 200px;" src="assets/nyiad-logo.png">
      </div>

      <div class="col-xs-12 col-md-9">

        <h4 class="bold partnersh">New York Institute of Art & Design</h4><br>

        <p>The New York Institute of Art and Design is the premier online school for creative professionals. We offer a variety of courses in the creative arts, from interior design to wedding planning, jewelry design and writing for students all over the world. Based in the capital of the art world, New York City, NYIAD allows students anywhere to pursue their passion and start a new career.</p><br>

        <p>SmartOn partners with NYIAD for courseware collaboration</p><br>

        <a target="_blank" href="http://www.nyiad.edu/" class="text-primary">Link to their website</a><br><br><hr><br>

      </div>

      <div class="col-xs-12 col-md-3">
        <img class="center-block shopifyimg" style="max-width: 200px;" src="assets/shopify-logo.png">
      </div>

      <div class="col-xs-12 col-md-9">

        <h4 class="bold partnersh">Shopify</h4><br>

        <p>Shopify is one of the most successful and widely used e-commerce companies in the world. With more than 120,000 users in over 100 countries, Shopify powers online businesses across the world.</p><br>

        <p>SmartOn partners with Shopify to create e-commerce educational programs</p><br>

        <a target="_blank" href="http://www.shopify.in/" class="text-primary">Link to their website</a><br><br><hr><br>

      </div>


      <div class="col-xs-12 col-md-3">
        <img class="center-block kpmgimg" style="max-width: 200px;" src="assets/kpmg.jpg">
      </div>

      <div class="col-xs-12 col-md-9">

        <h4 class="bold partnersh">KPMG</h4><br>

        <p>KPMG is a global network of professional firms providing Audit, Tax and Advisory services. The firm has more than 155,000 outstanding professionals working together to deliver value in 155 countries worldwide.</p><br>

        <p>SmartOn partnered with KPMG for courseware development</p><br>

        <a target="_blank" href="http://www.kpmg.com/" class="text-primary">Link to their website</a><br><br><hr><br>

      </div>

      <div class="col-xs-12 col-md-3">
        <img class="center-block naukriimg" style="max-width: 200px;" src="assets/naukri.jpg">
      </div>

      <div class="col-xs-12 col-md-9">

        <h4 class="bold partnersh">Naukri</h4><br>

        <p>Naukri is India’s # 1 recruitment and job site.</p><br>

        <p>SmartOn partners with Naukri to offer career oriented courses to young professionals</p><br>

        <a target="_blank" href="http://www.naukri.com/" class="text-primary">Link to their website</a>

      </div>
    </div>
  </div>
  <div class="panel panel-default" id="investors">
    <div class="well well-sm wellcolor">
      <h4>Investors</h4>
    </div>
    <div class="panel-body">

      <div class="col-xs-12 col-md-3">
        <img class="center-block kaplanimg" style="max-width: 200px;" src="assets/kaplan2.png">
      </div>

      <div class="col-xs-12 col-md-9">

        <h4 class="bold partnersh">Kaplan</h4><br>

        <p>Kaplan is one of the world’s largest educational groups and a global leader with Higher Education, Test Prep and International divisions. Kaplan has operations in over 25 countries and more than 1 million students use Kaplan every year.</p><br>

        <p>Kaplan is one of the early stage investors in SmartOn </p><br>

        <a target="_blank" href="http://www.kaplan.com/" class="text-primary">Link to their website</a><br><br><hr><br>

      </div>

      <div class="col-xs-12 col-md-3">
        <img class="center-block techimg" style="max-width: 200px;" src="assets/tech.png">
      </div>

      <div class="col-xs-12 col-md-9">

        <h4 class="bold partnersh">Techstars</h4><br>

        <p>Techstars is one of the world’s best startup accelerators. Techstars works with some of the best and most promising start-ups by providing capital, intensive mentorship and an amazing network of global mentors. </p><br>

        <p>Techstars is one of the early stage investors in SmartOn </p><br>

        <a target="_blank" href="http://www.techstars.com/" class="text-primary">Link to their website</a>

      </div>
    </div>
  </div>
</div>