<!--side form-->
<div id="slideout" >
  <h1 style="background-color: #D90000; padding:20px; color:#fff;  font-size: 20px; font-weight: 600;"> ENROLL</h1>
  <div id="slideout_inner" style="right:0px !important; top:-771px">
    <div id="feedback">
      <div id="feedback-header">Course Highlights</div>
      <div class="feedback-content">
      <ul class="content">
        <li><img src="assets/shopify-social/Enroll-Form-Open_06.png" /><span>&nbsp;&nbsp;Course begins on 20th December</span></li>
        <li><img src="assets/shopify-social/Enroll-Form-Open_09.png" /><span>&nbsp;&nbsp;5-hours per week of learning</span></li>
        <li><img src="assets/shopify-social/Enroll-Form-Open_12.png" /><span>&nbsp;&nbsp;Up to 2 hours of personal mentoring</span></li>
        <li><img src="assets/shopify-social/Enroll-Form-Open_17.png" /><span>&nbsp;&nbsp;10 Mini-Projects & 1 Capstone Project </span></li>
        <li><img src="assets/shopify-social/Enroll-Form-Open_21.png" /><span>&nbsp;&nbsp;Price is <strike>$250</strike><strong style="color: #eb4e3d; font-size: 16px;" >&nbsp;$200&nbsp;</strong><a target="_blank" href="https://easle.smarton.co/#/checkout/SM-101" class="btn btn-danger" role="button">Pay & Enroll</a></li>
      </ul>
      </div><!--feedback-content-->
      <div class="register">
        <P>Need more info, submit the form below</P>
        <script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
        <script>
          hbspt.forms.create({ 
            portalId: '431252',
            formId: '161ac865-ab5c-429d-bd46-b62e6cb90e7f'
          });
        </script>
      </div><!--register-->
    </div>
  </div>
</div><!--side form ends here-->
<!--starting website-->
<div id="backgroung-img">
  <!--Banner content-->
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
      <div class="col-xs-12 col-sm-11 col-md-11 col-lg-10" style="padding-top: 250px;">
        <div class="head">
        <h1>Become a Certified E-Commerce  Expert with Shopify </h1>
            <p style="font-family: Gotham !important">Shopify Expert Certification is a great way to not only learn E-Commerce but  to be your own boss. Become a highly sought-after professional consultant to small & medium business all over the world!</p> 
            <ul class="callToAction">
              <li><a style="font-family: Gotham !important" href="#demo1">About       </a></li>
              <li><a style="font-family: Gotham !important" href="#demo3">Setup Expert</a></li>
              <li><a style="font-family: Gotham !important" href="#demo2">How It Works</a></li>
              <li><a target="_blank" style="font-family: Gotham !important" href="https://easle.smarton.co/#/checkout/SM-101" >Pay & Enroll    </a></li>
            </ul>
        </div>
      </div>
    </div>  
  </div><!--Banner content ends-->    
</div>
<div class="content-background" id="demo1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="content">
          <h1> <strong>Kickstart your E-Commerce Career </strong> </h1>
          <div class="col-sm-4">
            <div class="ECommerce ">
              <div class="ECommerce-img" style="background-image:url(assets/shopify-social/image-1.png);">
                <div class="triangle">
                </div>
              </div>
              <h2>E-Commerce in India</h2>
              <p style="text-align: justify;">Indian E-Commerce sector is growing at 100% year-on-year and is expected to generate over 60,000 jobs in the next one year</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="ECommerce ">
              <div class="ECommerce-img" style="background-image:url(assets/shopify-social/image-2.png);">
                <div class="triangle">
                </div>
              </div>
              <h2>Shopify</h2>
              <p style="text-align: justify;">Shopify is world's largest E-Commerce platform company with over 120,000 stores in 100 countries. Shopify is committed to enable and grow E-Commerce in India</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="ECommerce ">
              <div class="ECommerce-img" style="background-image:url(assets/shopify-social/image-3.png);">
                <div class="triangle"></div>
                </div>
              <h2>Shopify Expert</h2>
              <p style="text-align: justify;">Being a Shopify Expert makes you part of global network of E-Commerce professionals . This is the surest way for a successful career in the hottest sector!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--   Kick-start your E-Commerce Career ends-->
<hr />
<!-- Shopify Setup Expert Certification Course Starts-->
<div class="shopify-background" id="demo3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="shopify">
          <h1> <strong>E-Commerce Certification Course </strong> </h1>
          <div class="col-sm-8">
            <ul style="list-style-image:url(assets/dot.png);">
              <li>First comprehensive certification course in E-Commerce.</li>
              <li>Backed by industry- Shopify and IAMAI.</li>
              <li>Learn the theory and practice of E-Commerce.</li>
              <li>Option to get additional certification as a 'Shopify Set up Expert'.</li>
            </ul><br>
            <h2>What is a Setup Expert? </h2>
            <p>As a Shopify Setup Expert, you will help launch online stores using Shopify and assist with tasks that include:</p>
            <ul style="list-style-image:url(assets/dot.png);">
              <li>Organizing (and/or importing) your product information, pricing and photos.</li>
              <li>Selecting one of our beautiful themes, including shop logo and branding.</li>
              <li>Setting up your site’s structure, homepage and navigation.</li>
              <li>Setting up your social media, blog and newsletter.</li>
              <li>Helping with basic domains, shipping, taxes and payments configuration.</li>
              <li>Install most popular free apps (facebook store, chat, mailchimp, etc).</li>
            </ul>
          </div>

          <div class="col-sm-4">
            <img src="assets/shopify-social/img-1.png" />
          </div>

          <div class ="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="highlits">
              <h2>Course Details</h2>
              <div class="col-sm-6">
                <div class="highlights-list">
                <h3>Highlights </h3>
                <ul style="list-style-image:url(assets/dot.png);">
                  <li>8-week online course with instructor videos, webinars, case studies & projects.</li>
                  <li>More than 15 hours of interactive and engaging content that is available 24/7.</li>
                  <li>Gain practical skills by completing a Capstone project of building a functional webstore on Shopify.</li>
                  <li>Successful completion of the course is the pre-requisite for the Shopify Expert Certification Process.</li>
                  <li>Individual mentoring sessions for those opting for Shopify Set Up Expert Certification (one to one session with Shopify Expert mentors).</li>
                </ul>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="highlights-list">
                  <h3> Curriculum for E-Commerce Expert Certification</h3>
                  <ul style="list-style-image:url(assets/dot.png);">
                    <li>Week 1: Introduction to E-Commerce</li>
                    <li>Week 2: Getting Started on Shopify </li>
                    <li>Week 3-4: Manage Products & Orders</li>
                    <li>Week 5: Manage Themes </li>
                    <li> Week 6: Manage Marketing</li>
                    <li> Week 7 & 8: Capstone Project</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- Shopify Setup Expert Certification Course Ends-->
<hr />
<!-- Who is this for Starts-->
<div class ="mentor-background" id="demo2">
  <div class ="container">
    <div class ="row">
      <div class ="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class ="mentor">
          <h1> <strong> Who is this for? </strong></h1>
          <div class="col-sm-6">
            <div class="begginers">
              <h2>E-Commerce Beginners</h2>
              <p>If you are a college graduate or a working professional looking for a career in E-Commerce. You don't require any prior background in E-Commerce of technology as our courses cover basic to advanced topics.  </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="begginers">
              <h2>Experienced looking to Upgrade & Get Credentialized</h2>
              <p>If you are currently working in the field either as a service provider (web design or other online services) OR in a job but looking to upgrade your skills to the next level</p>
            </div>
          </div>
          <div class ="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="project">
              <div class="col-sm-3" style="padding-top:24px;">
                <div class="course">
                  <h2>Course </h2>
                  <p>Enroll and complete the course online</p>
                </div>
              </div>
              <img src="assets/shopify-social/Arrow.png" />
              <div class="col-sm-3" style="padding-top:24px;">
                <div class="course">
                  <h2>Projects </h2>
                  <p>Sign up for live projects that are assigned by Shopify</p>
                </div>
              </div>
              <img src="assets/shopify-social/Arrow.png" />
              <div class="col-sm-4" style="padding-top:24px;">
                <div class="course">
                  <h2>Mentors </h2>
                  <p>Work with Shopify Expert Mentors to execute the projects! </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- Who is this for Ends-->

<!--  Our list of Mentors Starts-->
<div class ="mentor-background" style="background-color:#d4d6d9 !important" >
  <div class ="container" style="margin: 0 auto;">
    <div class ="row">
      <div class ="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class ="mentor">
          <div class ="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="mentors-list" style="margin: 0 auto;">
              <h1 style="font-size:24px;">Our list of Mentors</h1>

              <div class="mento-img">
                <img src="assets/shopify-social/1.png" />
                <p><span> Sree Sreenivasan</span>
                Chief Digital Officer at the MET Museum </p>
              </div>

              <div class="mento-img">
                <img src="assets/shopify-social/2-1.png" />
                <p><span> Hanisha Jagtiani</span>
                E-Commerce & Digital Marketing Expert </p>
              </div>

              <div class="mento-img">
                <img src="assets/shopify-social/3.png" />
                <p><span> Shubho Sengupta</span>
                Digital Branding & Marketing Consultant </p>
              </div>

              <div class="mento-img">
                <img src="assets/shopify-social/4.png" />
                <p><span> Dan King</span>
                Education Lead
                Shopify</p>
              </div>

              <div class="mento-img">
                <img src="assets/shopify-social/6.png" />
                <p class="margin"><span> Vargab Bakshi</span>
                Shopify India</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- Our list of Mentors Ends-->

<!--  Outcomes Starts-->
<div class ="mentor-background"  >
  <div class ="container">
    <div class ="row">
      <div class ="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class ="mentor">
          <div class="outcomes">
            <h2> Outcomes</h2>
            <ul style="list-style-image:url(assets/dot.png);">
              <li>E-Commerce Certification.</li>
              <li>Shopify Expert Certification (subject to additional live projects).</li>
              <li>Eligible to be part of Shopify Expert Community (this means you will start consulting for businesses all over the world).</li>
              <li>Skills & network needed to succeed in the filed of E-Commerce!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--  Outcomes Ends-->
<hr />
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script> 

<!-- enroll form -->
<script>
 $( "#slideout" )
  .mouseover(function() {
$("#slideout").css({right:'330px'});
$("#slideout_inner").css({top:'60px'});
  })
  .mouseout(function() {
  $("#slideout").css({right : '0px'});
$("#slideout_inner").css({top:'-734px'});
 });
 
 
</script>

<style>
}

.head{
   margin-left: -20px;
    margin-top: 31%;
  
  
}
.head h1 {
  width:100%;
 color: hsl(0, 0%, 100%);
    font-size: 34px;
   font-weight: lighter;
    line-height: 40px;
     font-family: "GothamMedium";
}
.head span {
  width:100%;
font-size:22px;
color: hsl(0, 0%, 100%);
 font-weight: 700;
  font-family: "GothamMedium";
}
.head p {
   color: hsl(0, 0%, 100%);
    font-size: 18px;
  line-height:20px;
   font-family: "GothamMedium";
  
}



/*a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
    border: 0px none;
    outline: 0px none;
}*/
#backgroung-img .callToAction {
    display: inline-block;
   padding-left: 0px;
   margin-top:15px;
     }
#backgroung-img .callToAction li{ display:inline;border-radius: 50px;
    padding: 13px 24px;
font-size: 16px;
    line-height: 54px;
    margin-top: 12px;
    box-shadow: inset 0 0 0 2px #FFF;
    opacity: 0.8;
    color: #fff;
    -webkit-transition: all 0.382s;
    -moz-transition: all 0.382s;
    -ms-transition: all 0.382s;
    -o-transition: all 0.382s;
    transition: all 0.382s;
  margin-right: 5px;
   font-family: "GothamMedium";
  }

   @media (min-width:1px) and (max-width: 671px) {
     #backgroung-img .callToAction li
     {
        width:100% !important; float:left;line-height: 28px !important;text-align: center;
     }
     }
    #backgroung-img .callToAction li:hover {
      box-shadow: inset 0 0 0 40px #FFF;
      color: #232323; }
    .img-arrow{
      margin:0 auto;
      display:block;
    }
    .content-background{
      width:100%;
      background-color:#eef0f2;
      height:auto;
    }
    .content{
      width:100%;
      height:auto;
        
    }
    
    .content h1{
      margin:0 auto;
      display:block;
      font-size:34px;
      font-weight: lighter;
      text-align:center;
      margin-top:31px;
      margin-bottom:3px;
    }
   .content .ECommerce{
        background: none repeat scroll 0 0 hsl(0, 0%, 100%);
    border-radius: 8px;
    box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.1);
   height: 500px;
    line-height: 24px;
    margin: 26px 0 30px;
    overflow: hidden;
    transition: all 0.2s ease 0s;
    width: 290px;
   }
     .content .ECommerce:hover {
    box-shadow: 0 0 0 4px hsl(199, 67%, 51%);
    cursor: pointer;
}
 .content .ECommerce .ECommerce-img{
       
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
}

 .triangle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(0, 0%, 100%);
    border-image: none;
    border-style: solid;
    border-width: 6px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    position: absolute;
}

   .content .ECommerce h2{
      font-family: "gotham";
     font-size:15px;
     color: hsl(215, 14%, 16%);
 
    font-weight: 700;
     border-bottom: 1px solid hsl(210, 13%, 91%);
      margin: 14px 0 3px 14px;
    padding: 1px 1px 6px 3px;
   }
    .content .ECommerce img{
       margin:0 auto;
      display:block;
      text-align:center;
    margin-top:15px;
    margin-bottom:15px;
      
    }
     .content .ECommerce p{
       color: hsl(210, 14%, 47%);
     font-family: "gotham";
    font-size: 15px;
    line-height: 21px;
    margin: 4px;
    padding: 5px 4px 0 11px;
  
   }
   @media (min-width: 768px) and (max-width:  996px) {
   .content .ECommerce{
     
 height: 570px;
    width: 100%;
  
   }
   .content .ECommerce h2{
   font-size:19px;
   }
   .mentor .project p {
   
    font-size: 13px;
}
.select{ width:100%;}
   }
    @media (min-width: 0px) and (max-width:  768px) {
   .content .ECommerce{
     
   height:100%;
    width: 100%;
  
   }
   .shopify img{ margin:0 auto;
   display:block;
   }
   }
   .mentor-background {
       width:100%;
      background-color:#dfe2e5;
      height:auto;
   }
     .mentor{
      width:100%;
      height:auto;
        
    }
    
    .mentor h1{
      margin:0 auto;
      display:block;
      font-size:34px;
      font-weight: lighter;
      text-align:center;
      margin-top:32px;
      margin-bottom:3px;
     /* text-transform:uppercase;*/
    }
   .mentor .begginers h2{
      font-size:17px;
      font-weight:700;
   }
    .mentor .begginers p{
      font-size:15px;
      color:#667788;
   }
  .mentor .project {
    width:100%;
    height:115px;
    background-color:#fff;
    float:left;
    margin-top:30px;
    margin-bottom:30px;
  }
  .mentor .project .course{
    width:100%;}
  
  .mentor .project h2{
      font-size:17px;
      font-weight:700;
   }
   .mentor .project p{
      font-size:13px;
      color:#667788;
   }
   .mentor .project img{
     float:left;
     
    margin-left: 15px;
    margin-right: 15px;
   }
   @media (min-width: 768px) and (max-width:  996px) {
  .mentor .project {
    width:100%;
    height:122px;
    
  }
  .mentor .project img{
     margin-left: 0px;
    margin-right: 0px;
  }
   }
    @media (min-width: 0px) and (max-width:  768px) {
  .mentor .project {
    width:100%;
    height:auto;
    
  }
  .mentor .project img{
    display:none;
  }
   }
   .mentor .mentors-list {
    width:100%;
    /*height:270px;*/
    /*background-color:#fff;*/
    float:left;
    /*margin-top:30px;*/
    margin-bottom:30px;
  }
   .mentor .mentors-list h2{
      background-color: hsl(0, 0%, 0%);
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    margin-left: 20px;
    margin-top: -25px;
    padding: 15px;
    text-align: center;
    width: 278px;
   font-size:20px;
     text-transform: uppercase;
   }
  .mentor .mentors-list .mento-img img {
    margin:0 auto;
    display:block;
    transition-property: width;  
 transition-duration: 1.4s;
  }
  .mentor .mentors-list .mento-img img:hover {
    /*width:81%;*/
    transition:width 0.8s linear;
  }
  .mentor .mentors-list .mento-img
  { width:20%; float:left;}
  .mentor .mentors-list .mento-img p {
    /*  background-image:url("../images/Box.png");*/
    background-repeat: no-repeat;
  /* height:75px;*/
    margin-left: 10px;
   padding: 12px;
    text-align: center;
  font-size:13px;
     color:#667788;
   margin-top:10px

  }
  .mentor .mentors-list .mento-img span {
     color: hsl(0, 0%, 0%);
    float: left;
    width: 100%;
  font-weight:600;
  }
  .mentor .mentors-list .mento-img .margin{
    margin-right:10px;
  }
   @media (min-width: 768px) and (max-width:  996px) {
  .mentor .mentors-list .mento-img p {
      background-image: none;
    background-repeat: no-repeat;
    height: 134px;
  /* background-color:#eef0f2;*/
   margin-right:10px

  }  
   .mentor .mentors-list {
    width:100%;
    height:auto;
    
  }
  .select  {
    width:100% !important;
  }
   }
    @media (min-width: 0px) and (max-width: 768px) {
      .mentor .mentors-list .mento-img p {
      background-image: none;
    background-repeat: no-repeat;
   height:auto;
 /*  background-color:#eef0f2;*/
   margin-right:10px

  }
  .select {
    width:100% !important;
  }
   .mentor .mentors-list {
    width:100%;
    height:auto;
    
  }
  .mentor .mentors-list .mento-img
  { width:100%; float:left;}
  .shopify .highlits h2 {
    
  /*  margin-left: -1px !important;*/
  }
    
     
   }
  .mentor  .outcomes{
  }
  .mentor  .outcomes h2{
    font-size:18px;
    font-weight:700;
  }
  .mentor .outcomes ul li{
      font-size:15px;
       color:#667788;
      /* list-style:disc;*/
  }
   .outcomes ul li:hover {
  padding-left: 0px;
  transition: all 0.4s ease 0s;
  }
.outcomes ul li:hover {
  padding-left: 5px;
  transition: all 0.4s ease 0s;
  }
  .shopify ul li:hover {
  padding-left: 0px;
  transition: all 0.4s ease 0s;
  }
  .shopify ul li:hover {
  padding-left: 5px;
  transition: all 0.4s ease 0s;
  }
  .mentor .outcomes ul {
      padding-left:21px;
      margin-bottom:30px;
  }
    .shopify-background{
      width:100%;
      background-color:#eef0f2;
      height:auto;
    }
    .Register-background{
    }
    .shopify{
      width:100%;
      height:auto;
        
    }
    
    .shopify h1{
      margin:0 auto;
      display:block;
      font-size:34px;
      font-weight: lighter;
      text-align:center;
      margin-top:32px;
      margin-bottom:3px;
      /*text-transform:uppercase;*/
    }
    .shopify ul  li{font-size:15px;
       color:#667788; }
     .shopify p{ font-size:15px;
       color:#667788;}
       .shopify h2{ font-size:18px; font-weight:700;
       }
       .shopify img {    
    margin-bottom: 30px;
    margin-top: 135px;
   
       }

.shopify .highlits {
    width:100%;
    height:auto;
    background-color:#fff;
    float:left;
    margin-top:30px;
    margin-bottom:30px;
  }
.shopify .highlits h2 {
      background-color: hsl(0, 0%, 53%);
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    margin-left: 20px;
    margin-top: -25px;
    padding: 15px;
    text-align: left;
   
    width: 197px;
   }
  .highlights-list h3{
  font-size:17px;
  font-weight:700;
  
}
.highlights-list {
  margin-top:30px;
  margin-bottom:30px;
}

  .highlights-list ul  li{font-size:15px;
       color:#667788; }
       
       
        .register-background{
          width:100%;
      background-color:hsl(210, 13%, 94%);
      height:auto;
    }
   .highlights-list ul li:hover {
  padding-left: 0px;
  transition: all 0.4s ease 0s;
  }
.highlights-list ul li:hover {
  padding-left: 5px;
  transition: all 0.4s ease 0s;
  }
    .shopify .registerheader {
    width:100%;
    height:auto;
    /*background-color:#fff;*/
    float:left;
    margin-top:30px;
    /*margin-bottom:30px;*/
    padding-bottom: 0px;
  }
.shopify .registerheader h2 {
    font-size: 17px !important;
     /* background-color: hsl(0, 0%, 0%);*/
    border-radius: 8px;
   /* color: #000;*/
    font-size: 18px;
    margin-left: 13px;
    margin-top: -25px;
    padding: 15px;
  /*  text-align: center;*/
    width: 100%;
   font-size:20px;
    /* text-transform: uppercase;*/
   }
   .register-contain p{ 
    color: hsl(210, 14%, 47%);
    font-size: 15px;
    margin-bottom: -8px;
    margin-left: 10px;
    margin-top: 10px;
   
   }
   .inp {
     background: none repeat scroll 0 0 hsl(180, 4%, 95%);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0 0 1px hsl(0, 0%, 39%);
    margin: 10px;
    padding: 10px;
    width: 94%;
}

.changecolor:hover .line {
    background: none repeat scroll 0 0 hsl(199, 67%, 51%);
}
.changecolors:hover .line {
    background: none repeat scroll 0 0 hsl(199, 67%, 51%);
}
.changecolor .line.line-top {
    height: 2px;
    left: -120%;
    top: 0;
    width: 0;
}
.changecolor:hover .line.line-top {
    left: 14px;
    top: 0;
    width: 294px;
}
.changecolor .line.line-right {
    height: 0;
    right: 0px;
    top: -110%;
    width: 2px;
}
.changecolor:hover .line.line-right {
    height: 309px;
    left: 306px;
    top: 0px;
}
.changecolor .line.line-bottom {
    bottom: 28px;
    height: 2px;
    right: 57px;
    width: 0;
}

.changecolor:hover .line.line-bottom {
    right: 3px ;
    width: 295px;
    bottom: 27px;
}
.changecolor .line.line-left {
    bottom: -34%;
    height: 0;
    left: 12px;
    width: 2px;
}
.changecolor:hover .line.line-left {
    bottom: 28px;
    height: 310px;
    left: 12px;
}
.changecolor .line {
    background: none repeat scroll 0 0 hsla(0, 0%, 0%, 0);
    position: absolute;
    transition: all 0.4s ease 0s;
}

 @media (min-width: 0px) and (max-width:  996px) {
   .line { display:none;}
   .content .ECommerce:hover {
   /* border: 4px solid  hsl(199, 67%, 51%);*/
   
 }
 }
 .hovicon.effect-2 {
    color: #eea303;
    box-shadow: 0 0 0 3px #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.hovicon.effect-2:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
 .hovicon.effect-2.sub-a:hover, .hovicon.effect-2.sub-a:hover i {
    color: #eea303;
}
.hovicon.effect-2.sub-a:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}
/* footer effects*/
.bottom-list{float: left; width: 100%; height: auto; background-color: rgba(0,0,0,.1); padding-bottom:15px; padding-top:15px;}
.bottom-list .images-list{float: left; padding: 15px 0px; margin: 0px;}
.bottom-list .images-list li{display: inline; list-style: none; padding: 30px;}
.footer {float: left; font-family: "gotham";width: 100%; height: auto; background-color: #3a424d; border-top: 2px solid rgba(0,0,0,0.34); padding-top: 20px; }
.footer .logo-image p{color: #9da2a8; font-family: "gotham"; font-size: 15px; margin-top: 10px; padding-right: 34px;}
.footer .spacing{float: left; width: 100%; padding-bottom: 35px;}
.partnership{float: left; width: 100% ; height: auto;  border-bottom: 1px solid rgba(0,0,0,0.2);}
.partnership .ship{color: #fff; font-weight: bold; border-top: medium none;}
.partnership td{width: 100%;}
.partnership td div{width: 100%; line-height: 40px; /*border-top: 1px solid rgba(255,255,255,0.06);*/ border-bottom: 1px solid rgba(0,0,0,0.2); color: #9da2a8;}
.partnership td div:hover{color: #fff; text-decoration: none !important; }
.subfooter{float: left; width: 100%; height: auto; background-color: #262b33; padding-top: 15px; padding-bottom: 15px; /*margin-top: 20px;*/}
.subfooter .learn{color: #9da2a8; font-size: 15px; margin: 0px;}
.terms{float: right; height: auto; padding: 0px; margin: 0px;}
.terms li{display: inline;}
.terms li a{color: rgba(255, 255, 255, 0.62); padding-left: 20px;}
.terms li a:hover{color: #fff; text-decoration: none;}
/*MEDIA QUERIES*/
@media screen and (max-width: 1920px) and (min-width: 481px){.images-list{display: block;} .images-list1{display: none;} .images-list2{display: none;}}
@media screen and (max-width: 480px) and (min-width: 1px){.images-list{display: none;} .images-list1{display: block;} .images-list2{display: block;}}
@media screen and (max-width: 1199px) and (min-width: 992px){.bottom-list .images-list li{padding: 30px !important;}}
@media screen and (max-width: 991px) and (min-width: 768px){.bottom-list .images-list li{padding: 13px !important;}}
@media screen and (max-width: 767px) and (min-width: 715px){.bottom-list .images-list li{padding: 11px !important;}}
@media screen and (max-width: 714px) and (min-width: 618px){.bottom-list .images-list li{padding: 11px !important;} .bottom-list .images-list li img{height: 30px !important;}}
@media screen and (max-width: 617px) and (min-width: 540px){.bottom-list .images-list li{padding: 10px !important;} .bottom-list .images-list li img{height: 25px !important;}}
@media screen and (max-width: 539px) and (min-width: 481px){.bottom-list .images-list li{padding: 10px !important;} .bottom-list .images-list li img{height: 20px !important;}}
/*@media screen and (max-width: 460px) and (min-width: 390px){.bottom-list .images-list li{padding: 10px !important;} .bottom-list .images-list li img{height: 15px !important;}}
@media screen and (max-width: 389px) and (min-width: 320px){.bottom-list .images-list li{padding: 10px !important;} .bottom-list .images-list li img{height: 10px !important;}}*/
@media screen and (max-width: 767px) and (min-width: 1px){.terms{float: left !important;}.terms li a{padding-right: 20px !important; padding-left: 0px !important;}}
@media screen and (max-width: 480px) and (min-width: 370px){
 .images-list1{float: left; width: 100%; margin-top: 10px; margin-bottom: 10px; padding: 0px;}
 .images-list1 li{display: inline; list-style: none; padding-left: 35px;}
 .images-list2{float: left; width: 100%; margin-top: 10px; margin-bottom: 10px; padding: 0px;}
 .images-list2 li{display: inline; list-style: none; padding-left: 35px;} 
}
@media screen and (max-width: 369px) and (min-width: 315px){
 .images-list1{float: left; width: 100%; margin-top: 10px; margin-bottom: 10px; padding: 0px;}
 .images-list1 li{display: inline; list-style: none; padding-left: 18px;}
 .images-list2{float: left; width: 100%; margin-top: 10px; margin-bottom: 10px; padding: 0px;}
 .images-list2 li{display: inline; list-style: none; padding-left: 18px;} 
}
@media screen and (max-width: 314px) and (min-width: 1px){
 .images-list1{float: left; width: 100%; margin-top: 10px; margin-bottom: 10px; padding: 0px;}
 .images-list1 li{display: inline; list-style: none; padding-left: 13px;}
 .images-list2{float: left; width: 100%; margin-top: 10px; margin-bottom: 10px; padding: 0px;}
 .images-list2 li{display: inline; list-style: none; padding-left: 13px;} 

}
/*--------------------footer social icons starts here-----------------*/ 
.social-icons{float: left; width: 100% ; height: auto;  border-bottom: 1px solid rgba(0,0,0,0.2);}
.social-icons .ship{color: #fff; font-weight: bold; border-top: medium none;}
.social-icons td{width: 100%;}
.social-icons td .twitter-content{width: 100%; float:left;border-bottom: 1px solid rgba(0,0,0,0.2); }
.social-icons td img{ float: left;
    margin-top: 6px;
    height: 20px;}
.social-icons td .facebook-image
{ float: left;
    margin-left: 3px;}
.social-icons td div{width: 100%; line-height: 36px; /*border-top: 1px solid rgba(255,255,255,0.06);*/ color: #9da2a8;}
.social-icons td .twitter-content .twitter{ float: left;
    margin-left: 8px;
    width: 80%;
}
.social-icons td .twitter-content .facebook{float: left;
    margin-left: 18px;
    width: 80%;
}
.social-icons td .twitter-content .linkedin{float: left;
    margin-left: 14px;
    width: 80%;
}
.social-icons td div:hover{color: #fff; text-decoration: none !important; }
@media screen and (max-width:991px) and (min-width:768px)
{
  .social-icons td .twitter-content .twitter{ float: left;
    margin-left: 8px;
    width: 70% !important;
}
.social-icons td .twitter-content .facebook{float: left;
    margin-left: 18px;
    width: 70% !important;
}
.social-icons td .twitter-content .linkedin{float: left;
    margin-left: 14px;
    width: 70% !important;
}
}
@media screen and (max-width:767px) and (min-width:1px)
{
  .social-icons{
    margin-top:10px;
  }
}

/*--------------------footer social icons ends here-------------------*/
  .numberCircle {
   
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    background: none repeat scroll 0 0 hsl(0, 0%, 0%);
    /*border: 2px solid hsl(0, 0%, 40%);*/
    border-radius: 50%;
    color: hsl(0, 0%, 100%);
    float: left;
    height: 22px;
    margin-top: -13px;
    padding: 3px;
    text-align: center;
    width: 22px;
}  
.select
{
   background: #dfe2e5;
    border-radius: 8px;
    box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.1);
    height: 100%;
    line-height: 24px;
    margin: 26px 0 30px;
    overflow: hidden;
    transition: all 0.2s ease 0s;
    width: 290px;
}
.select img { margin:0 auto;
margin-bottom:10px;
margin-top:10px;
display:block;
}
.select p{
  text-align:center;
  font-size:13px;
}
.select-button {
     background: none repeat scroll 0 0 hsl(6, 81%, 58%);
    border: medium none;
    border-radius: 9px;
    box-shadow: none;
    color: hsl(0, 0%, 100%);
    display: block;
    margin: 0 auto 20px;
    outline: 0 none;
    padding: 3px 39px;
    text-decoration: none;
}
#select{
   background: none repeat scroll 0 0 hsl(180, 4%, 95%);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0 0 1px hsl(0, 0%, 39%);
 
  color: hsl(211, 14%, 47%);
    padding: 5px;
    width: 40%;
}
#select option{
    font-size: 13px;
  padding:2px;
   
}
@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    #select option {
        height:30px;
        line-height:30px;
        
    } 
}
@media screen and (max-width: 330px) and (min-width: 1px){
  .shopify h1{
    font-size:26px;
  }
  .shopify .highlits h2 {
    
    margin-left: 0px;
   
    width: 100%;
}
.select{ width: 100%;}
.head h1{ font-size:32px;}

}
/*.hs-form .hs-button{
 margin-left: 7px !important;
    margin-top: -30px !important;
   background: none repeat scroll 0 0 hsl(6, 80%, 58%) !important;
    border: medium none !important;
    border-radius: 9px !important;
    box-shadow: none !important;
    color: hsl(0, 0%, 100%) !important;
    display: block !important;
    
    outline: 0 none !important;
    padding: 14px 50px  !important;
    text-decoration: none !important;
}
.hs-form .hs-input, .hs-form textarea.hs-input{
background: none repeat scroll 0 0 hsl(180, 4%, 95%)!important;
    border: 1px solid hsl(0, 0%, 100%)!important;
    border-radius: 5px !important;
    box-shadow: 0 0 1px hsl(0, 0%, 39%) !important;
    margin: 0px 10px 2px 3px !important; 
    padding: 6px !important;
    }
  .hs-form .actions {
    background: none repeat scroll 0 0 hsla(0, 0%, 0%, 0);
    border-radius: 0 0 3px 3px;
    border-top: 0 none;
    margin-bottom: -34px !important;
    margin-top: 18px;
}*/
.cta{
background: none repeat scroll 0 0 #fff;
    border-radius: 25px;
    display: inline-block;
    font-size: 14px;
    line-height: 46px;
    margin-bottom: 20px;
    margin-top: -12px;
    padding: 0 48px;
}



/*-----------------side form starts ehre----------------*/
#slideout {
  position: fixed;
  top: 72px;
  right: 0;
  z-index:10;
 -webkit-transition-duration: 0.9s;
  -moz-transition-duration: 0.9s;
  -o-transition-duration: 0.9s;
  transition-duration: 0.9s;
}
#slideout .feedback-image
{ float: left;
    position: absolute;
    right: 0px;
    z-index: 10;
  top: 4px;}
#slideout_inner {

    border-color: #eb4e3d;
    border-image: none;
    border-radius: 6px 0 0 6px;
    border-style: solid none solid solid;
    border-width: 3px 0 3px 3px;
    position: fixed;
    right: 0px !important;
   top: -734px;
  /* top:60px;*/
    transition-duration: 0.9s;
    width: 330px;
    z-index: 10;
}

#feedback
{
  width:100%; height:auto;
}
#feedback #feedback-header
{
  background-color:#97a1ab; color:#222933; font-size:14px; padding: 14px;font-family: "gotham"; font-weight:700;
  
}
#feedback .feedback-content
{ width:100%; float:left; background-color:#dfe3e6;
}
#feedback .feedback-content .content
{float: left;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.66);
}
#feedback .feedback-content .content li
{ list-style: outside none none;
    margin-bottom: 18px;
    margin-top: 6px;
    padding-right: 15px;
    width: 100%;
}
#feedback .feedback-content .content li img
{ 
 float: left;
    margin-top: 4px;
}
/*#feedback .feedback-content .content li span
{color: #252a2e;
    font-size: 14px;
    margin-left: 14px;
}
#feedback .feedback-content .content li a  
{
  background: none repeat scroll 0 0 #eb4e3d;
    border: medium none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    margin-left: 15px;
    padding: 8px 14px;
    text-decoration: none;font-family: "gotham";
}
#feedback .feedback-content .content li a .feedback-button  
{
 color: #fff; text-decoration:none; margin-left:0px;
 
 }*/
#feedback  .register
{
  background-color:#fff; float:left; width: 100%;border-top: 1px solid rgba(255, 255, 255, 0.28);
}
#feedback  .register p
{ color: #252a2e;
    font-family: "gotham";
    font-size: 14px;
    padding: 14px;
  background:#97a1ab;
  font-weight:700;
}
#feedback  .register .text-field
{ background: none repeat scroll 0 0 #dfe3e6;
    border: 1px solid #afafaf;
    border-radius: 5px;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    outline: medium none;
    padding: 10px;
    width: 97%;
}
#feedback  .register a .send-button
{
   background-color: #eb4e3d;
    border-radius: 0 5px 5px 0;
    color: #fff;
    float: right;
    font-size: 16px;
    padding: 9px 12px;
    position: absolute;
    right: 1px;
  text-decoration:none;font-family: "gotham";
}

.hs-form {
    margin: 18px !important;
    width: 292px !important;
}
.hs-form .hs-button{
  margin-bottom:15px !important;
}
.hs-form .hs-input, .hs-form textarea.hs-input {
    max-width: 500px;
    width: 86% !important;
}
/*--------------side form ends here---------------------*/


/* PAYMENT FORM STARTS FROM HERE  */
.sm-on-price-panel {
  height: 400px;
  width: 200px;
  background-color: rgba(255,255,255,1);
  float: left;
}
.sm-on-price-block {
  padding: 10px 10px;
  height: 120px;
  background-color: rgba(255,240,240,1);
  text-align: center;
}
.sm-on-price > h6 {
  color: rgba(51,102,153,1);
}
.sm-on-price > p {
  color: rgba(0,153,0,1);
  font-size: 24px;
  padding: 5px 10px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  padding-bottom: 1px;
}
.sm-on-pay-form {
  padding: 20px;
}
a.sm-on-pay-button {
  background-color: rgba(0,102,204,1);
  padding: 5px 10px;
  color: rgba(255,255,255,1);
}
.sm-on-pay-button:hover {
  background-color: rgba(0,153,204,1);
}
.sm-on-modal-panel {
  min-height: 400px;
  width: 730px;
  background-color: rgba(255,255,255,1);
  float: left;
  margin-right: 10px;
  padding: 10px;
}
.sm-modal-left {
  width: 500px;
  float: left;
}
.sm-modal-right {
  width: auto;
  float: right;
  font-size: 12px;
}
.pay {
  font-size: 12px;
  margin-top: 8px;
  /*margin-bottom: 8px;*/
}
.sm-modal-right span {
  padding-right: 10px;
}
select.SelectBox {
  height: 31px;
  font-size: 14px !important;
  min-height: 20px;
  padding: 2px;
  width: 100%;
  background-color: #f2f3f3;
  margin-top: 10px;
}
select.SelectBox > option[value="USD"] {
  padding: 20px;
}
.modal-body select.SelectBox > option > span {
  padding: 10px 10px !important;
}
.boxes, .boxes:hover {
  padding: 10px 0px;
  text-align: center;
  background-color: #ea4e3c;
  margin-top: 20px;
  /*margin-left: 30%;*/
  color: #FFF;
  display: block;
  width: 100%;
  cursor:pointer;
}
.closebut{
  margin-left: 36% !important;
  width: 110px !important;
}
.sm-on-message {
  /*margin: 15px 0px;*/
  margin-bottom: 15px;
  font-size: 13px;
  text-align: justify;
}
input.error {
  border: 1px solid #ff0000 !important;
}
.has-error .form-control {
  border: 1px solid #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.has-error input {
  border-width: 2px;
}
.notvisible {
  position: absolute;
  left: -10000000px;
}
.modal-content-head {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.modal-header {
  font-size: 20px;
  border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
}
.form-country {
  margin-top: 10px;
}
input[type="text"].form-sm-control {
  width: 49.2%;
  height: 3px;
  background-color: #f2f3f3;
  font-size: 14px;
}
input[type="text"].form-sm-control.error {
  width: 48.72%;
}
.sm-form-group input[type="text"] {
  height: 35px;
  background-color: #f2f3f3;
  font-size: 14px;
}
.sm-on-info {
  margin-top: 20px;
}
.sm-on-info p {
  font-size: 12px;
  text-align: center;
  display: block;
  margin-top: 10px;
}
.sm-on-info p a {
  color: #0000FF;
  display: block;
}
.padd-left-10 {
  padding-left: 10px;
}
.sm-form-group {
  position: relative;
}
.sm-form-group input.form-control {
  text-indent: 30px;
}
.sm-form-group .fa {
  position: absolute;
  top: 9px;
  left: 7px;
  font-size: 15px;
}
.inline-form {
  width: 49%;
  float: left;
  /*margin-top: -13px;*/
}
.space-bottom
{
  margin-bottom: 15px;
}
input[type="text"].inline-form-left
{
  margin-left:4% !important;
}
.inline-form .fa {
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
  
}
.inline-form .fa.leftmove
{
  left:16px;
}

.inline-form input {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
}
.sm-on-course-det-block {
  /*padding: 10px 0px;*/
}
.sm-on-course-det {
  margin-top: 10px;
  margin-bottom: 10px;
}
.sm-on-label {
  color: #222;
}
.sm-on-label-grey {
  word-wrap: break-word;
}
.sm-on-info-next {
  background-image: url(assets/shopify-social/pay-bg-next.png);
  background-color:#ffdbd7 !important;
}
.sm-on-info-next-new
{
  background-image: url(assets/shopify-social/pay-bg-next-new.png);
  background-color:#ffdbd7 !important;
  background-position: right;
  background-size:contain !important;
}
.red
{
  color:#ea4e3c;
}
.sm-on-info-contact {
  background-image: url(assets/shopify-social/pay-contact.png);
  min-height:350px;
  background-color: rgba(255,255,255,1);

}
.sm-on-info-next, .sm-on-info-contact, .sm-on-info-next-new {
  width: auto;
  display: block;
  min-height: 80px;
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  padding: 0px 10px;
  color: #222;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}
.sm-on-info-next h5, .sm-on-info-next-new h5
{
  color:#7c0d00;
}
.sm-on-info-next h5, .sm-on-info-contact h5, .sm-on-info-next-new h5 {
  line-height: 1.7;
  font-size:18px;
}
.sm-on-info-next p, .sm-on-info-contact p, .sm-on-info-next-new p,{
  font-size:12px;
}
.sm-on-info-next p.user-greetings, .sm-on-info-next-new p.user-greetings
{
  font-size:17px;
}
/*.btn.btn-sign-in, .btn-sign-in:hover
{
  background-color: #41393b;
  font-size:14px;
  color:rgba(255,255,255,1);
  border:1px solid transparent;
}*/
.close-tq {
  position: static !important;
  font-size: 16px !important;
  margin-bottom:10px;
}
.sm-on-panel-head
{
  /*margin-top:5px;*/
  padding:10px 0px 0px;
  /*margin-bottom:5px;*/
  font-weight:600;
  font-size:15px;
  border-top: #DBDBDB 1px solid;
  text-align:center;
}
/*
TABS CSS STARTS FROM HERE
*/
ul.tabs {
  margin: 20px 0 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  /*border-bottom: 1px solid #999999;*/
    /*border-left: 1px solid #999999;*/
  width: 100%;
}
ul.tabs li a {
  float: left;
  margin: 0;
  cursor: pointer;
  width: 179px;
  text-align: center;
  height: 31px;
  line-height: 31px;
  border: 1px solid #999999;
  font-weight: bold;
  background: #EEEEEE;
  overflow: hidden;
  position: relative;
}
ul.tabs li a:hover {
  background: #CCCCCC;
}
ul.tabs li.active a {
  background-color: transparent;
  border-bottom: 0px solid #999999;
}
a[disabled] {
  color: gray;
  text-decoration: none;
  background: #EEEEEE;
  border: 0px !important;
  border-bottom: 1px solid #999999 !important;
}
ul.tabs li a[disabled]:hover {
  background: #EEEEEE;
}
.tab_container {
  /*border: 1px solid #999999;*/
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #eef0f2;
  /*margin-bottom: 30px;*/
}
.tab_content {
  padding: 10px 1px;
  font-size: 1.2em;
  display: none;
}
.tab_content.active {
  display: block;
}
.selectbox-panel {
  margin-top: 10px;
}
.images-loader{
  display:none;
}
/*
TABS CSS ENDS HERE
*/

/* PAYMENT FORM ENDS HERE  */




</style>