<title>Our Advisory board has senior members who are pioneers in the field of online education</title>
<meta name="description" content="Our Advisory Board has people from diverse backgounds who provide great insights on online education, learning management systems and in depth knowledge of online degree programs.">
<div class="container" style="padding-top: 60px; padding-bottom: 60px;">
<h1 class="center" style="text-transform: uppercase; text-decoration: underline; font-family: 'GothamLight';">Our Advisory Board</h1><br><br>
  <div class="col-xs-12 col-md-4 col-md-offset-4" style="margin 0px auto;">
    <div role="tabpanel" class="abc">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs center" role="tablist" style="border: none;">
        <li role="presentation" class="pli">
          <img class="pimg" src="assets/headshots/advisor/1.png">
          <a style="padding: 0px;" href="#bimg5" aria-controls="bimg5" role="tab" data-toggle="tab">
            <div class="checki"><br><br><b>Sree Sreenivasan</b><br><br>Chief Digital Officer – Met Museum
            </div>
          </a>
        </li>

        <li role="presentation" class="pli">
          <img class="pimg" src="assets/headshots/advisor/2.png">
          <a style="padding: 0px;" href="#bimg6" aria-controls="bimg6" role="tab" data-toggle="tab">
            <div class="checki"><br><br><b>Jeremy Johnson</b><br><br>Founder/CEO - Andela
            </div>
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="bimg5"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Sree Sreenivasan</span><br>
            <span style="font-weight: bold;">Chief Digital Officer – Met Museum</span><br><br>
            <span style="color: #108896;"><a target="_blank" href="https://www.linkedin.com/in/sreenivasan">Link to LinkedIn Profile</a></span>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="bimg6"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Jeremy Johnson</span><br>
            <span style="font-weight: bold;">Founder/CEO - Andela</span><br><br>
            <span style="color: #108896;"><a target="_blank" href="https://www.linkedin.com/in/jeremiahjohnson">Link to LinkedIn Profile</a></span>
          </p>
        </div>
      </div>
    </div><br>
  </div>
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h3 class="center" style="font-weight: normal !important;">Ex Vice Chancellors of prominent Indian Universities & education policy makers are on SmartOn’s advisory board in India</h3>
  </div>
</div>
