<title>SmartOn serves its partners through a 'Client First' model ensuring superior online education.</title>
<meta name="description" content="Our learning management technology team ensures smooth delivery of online education programs. Our Partner can transform into an online college and offer online education in matter of  weeks.">
<div class="container-fluid backgroundimg">
  <div class="container" style="padding-top: 20px; padding-bottom: 50px;">
    <h1 class="center" style="text-transform: uppercase; text-decoration: underline; font-family: 'GothamLight';">Our Partnership Model</h1><br><br>

    <div class="col-md-10 col-md-offset-1 col-xs-12">

      <p class="overviewp">SmartOn serves its partner educational institutions ("Partner") through a client-first model in which a dedicated team of functional experts is assigned to grow enrollments and revenue for the partner University while ensuring a superior learning experience for the students. In addition, our technology team ensures smooth delivery of online education programs. Our Partner can transform into an online college and offer online education in matter of weeks without making investments in technology or marketing resources.</p><br>


      <p class="overviewp">We are proud to partner with top Universities and educational institutions around the world that share this belief. Our success is tied to the effective selection of the in-demand courses that should be offered online, recruitment of students into partner Universities’ online programs, ensuring that online education remains a risk-free proposition for our partners.</p><br>

      <p class="overviewp">SmartOn’s technology platform and services are adopted by Pearl Academy, India’s leading design school that is owned by world’s largest education conglomerate Laureate Education. Pearl Academy's online education initiative is called www.pearllive.com and several students across India are taking interior design course online. We are currently in discussions with several other reputed Universities and educational institutions both within and outside India for similar partnerships.</p>
    </div>
  </div>

  <div class="container center" style="margin-bottom: 20px;">
    <a style="font-size: 16px;" target="_blank" href="Smarton_Partnership_Model.pdf" class="btn btn-danger btn-lg" role="button">Know More</a>
  </div><br>

</div>