<title>Our team is passionate to provide online education to everyone who can access it from anywhere.</title>
<meta name="description" content="Team SmartOn combines several decades of experience across geographies with domain expertise in online education, Learning Management Systems and online colleges">
<div class="container teampadding">
  <h1 class="center" style="text-transform: uppercase; text-decoration: underline; font-family: 'GothamLight';">Our Team</h1><br><br>

  <div class="col-xs-12 col-md-10 col-md-offset-1" style="margin 0px auto;">

    <p style="color: black; text-align:center;  line-height: 150%; font-size: 16px;">
      Team SmartOn combines several decades of experience across geographies with domain expertise in education, technology, talent management, and product development.<br><br><br>
    </p>

    <div role="tabpanel" style="margin-left: 20px;">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" style="border: none;">
        <li role="presentation" class="pli">
          <img class="pimg" src="assets/headshots/leadership/1.jpeg">
          <a style="padding: 0px !important;" href="#bimg1" aria-controls="bimg1" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Chaitanya Chitta</b></b><br>Co-Founder/CEO
            </div>
          </a>
        </li>

        <li role="presentation" class="pli">
          <img class="pimg" src="assets/headshots/leadership/2.jpg">
          <a style="padding: 0px !important;" href="#bimg2" aria-controls="bimg2" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Rakshit Kejriwal</b><br>Co-Founder/COO
            </div>
          </a>
        </li>

        <li role="presentation" class="pli">
          <img class="pimg" src="assets/headshots/leadership/3.png">
          <a style="padding: 0px !important;" href="#bimg3" aria-controls="bimg3" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Lakshmi Dasaka</b><br>Co-Founder/Products
            </div>
          </a>
        </li>

        <li role="presentation" class="pli">
          <img class="pimg" src="assets/headshots/leadership/4.png">
          <a style="padding: 0px !important;" href="#bimg4" aria-controls="bimg4" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Srivatsa S</b><br>CTO
            </div>
          </a>
        </li>

        <li role="presentation" class="pli">
          <img class="pimg" src="assets/headshots/business/1.png">
          <a style="padding: 0px !important;" href="#bimg5" aria-controls="bimg5" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Michael Yoon</b><br>Technology Advisor
            </div>
          </a>
        </li>

        <li role="presentation" class="pli">
          <img class="pimg" src="assets/headshots/business/kelly.jpg">
          <a style="padding: 0px !important;" href="#bimg6" aria-controls="bimg6" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Dr. Kelly Edmonds</b><br>Consulting E-Learning Specialist
            </div>
          </a>
        </li>      

      </ul>
      <!-- Tab panes -->
      <div class="tab-content" id="tb1">
        <div role="tabpanel" class="tab-pane fade" id="bimg1"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Chaitanya Chitta</span><br>
            <span style="font-weight: bold;">Co-Founder/CEO</span><br>
            <li>12+ experience in education management, operations, and strategy</li>
            <li>Executive Director, Laureate Education Asia, CFO, Laureate India (2011-2014)</li>
            <li>Previously worked with KPMG and Barclays in New York (2004-2011)</li>
            <li>MBA, Temple University (2002-2004)</li>
            <li>Independent Movie maker</li><br>
            <span style="color: #108896;"><a target="_blank" href="http://in.linkedin.com/in/chaitanyachitta">Link to LinkedIn Profile<br><br></a></span> 
          </p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="bimg2"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Rakshit Kejriwal</span><br>
            <span style="font-weight: bold;">Co-Founder/COO</span><br>
            <li>14+ experience in consulting and investment banking </li>
            <li>Investment Banker, Wells Fargo Securities (2012-2014) </li>
            <li>Previously worked with KPMG in New York (2006-2012), E&Y Dubai (2003-2006)</li>
            <li>MBA, Columbia University</li><br>
            <span style="color: #108896;"><a target="_blank" href="https://www.linkedin.com/pub/rakshit-kejriwal/2/251/920">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="bimg3"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Lakshmi Dasaka</span><br>
            <span style="font-weight: bold;">Co-Founder/Products</span><br>
            <li>10+ years of experience in Human Resources and Talent Strategy in U.S. and India</li>
            <li>Experience working with E-Commerce & Education start-ups in India before joining SmartOn</li>
            <li>KPMG Consulting, New York (2009-2011)</li>
            <li>HR Head, Satyam BPO, India (2004-2008)</li>
            <li>M.S. from Cornell University</li><br>
            <span style="color: #108896;"><a target="_blank" href="http://in.linkedin.com/in/lakshmidvs">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="bimg4"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Srivatsa S</span><br>
            <span style="font-weight: bold;">CTO</span><br>
            <li>More than a decade experience in education technology, product engineering & solution implementation.</li>
            <li>Previously worked with Campus Management (Director – Higher Education Solutions)</li>
            <li>Extensive higher education experience across India, Middle East, Africa, Australia, South East Asia, UK & Europe</li>
            <li>Engineering graduate, Executive MBA (IIM-B)  </li>
            <li>Wild life photographer</li><br>
            <span style="color: #108896;"><a target="_blank" href="http://in.linkedin.com/in/srivatsashandilya">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="bimg5"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Michael Yoon</span><br>
            <span style="font-weight: bold;">Technology Advisor, U.S.A</span><br>
            <li>15+ years domain experience in financial reference data, high-throughput e-commerce systems architecture, content management systems, e-Business, and master data management.</li>
            <li>Strategic vision for design and development of SmartOn’s learning platform</li>
            <li>Ex-Morgan Stanley (Exec Director – Enterprise Data) & VP (Engineering) at Barnes and Noble</li>
            <li>Engineering (McGill University) & MBA (Columbia Business School)</li><br>
            <span style="color: #108896;"><a target="_blank" href="#">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="bimg6"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Dr. Kelly Edmonds</span><br>
            <span style="font-weight: bold;">Consulting E-Learning Specialist, Canada</span><br>
            
            <span style="color: #108896;"><a target="_blank" href="https://ca.linkedin.com/in/kellyedmonds">Link to LinkedIn Profile<br><br></a></span> 
          </p>
        </div>
                           
      </div>
    </div>
    <div role="tabpanel" style="margin-left: 20px;">
      <ul class="nav nav-tabs" role="tablist" style="border: none;">

        <li role="presentation" class="pli"><img class="pimg" src="assets/headshots/business/2.png">
          <a style="padding: 0px !important;" href="#bimg7" aria-controls="bimg7" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Lindsay Tabas</b><br>Consulting User Experience Expert
            </div>
          </a>
        </li>

        <li role="presentation" class="pli"><img class="pimg" src="assets/headshots/business/cindy.jpg">
          <a style="padding: 0px !important;" href="#bimg8" aria-controls="bimg8" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Cindy Schott</b><br>Consulting Senior Instructional Designer
            </div>
          </a>
        </li>

        <li role="presentation" class="pli"><img class="pimg" src="assets/headshots/business/tim.jpg">
          <a style="padding: 0px !important;" href="#bimg9" aria-controls="bimg9" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Tim Poteat</b><br>Consulting Senior Content Developer
            </div>
          </a>
        </li>

        <li role="presentation" class="pli"><img class="pimg" src="assets/headshots/business/rajesh.png">
          <a style="padding: 0px !important;" href="#bimg10" aria-controls="bimg10" role="tab" data-toggle="tab">
            <div class="checki"><br><br><b><br>Rajesh Rajagopal</b><br>Manager, Learning Products
            </div>
          </a>
        </li>

        <li role="presentation" class="pli"><img class="pimg" src="assets/headshots/business/sridhar.jpg">
          <a style="padding: 0px !important;" href="#bimg11" aria-controls="bimg11" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Sridhar B S</b><br>Senior Developer
            </div>
          </a>
        </li>

        <li role="presentation" class="pli"><img class="pimg" src="assets/headshots/business/nilanjana.jpg">
          <a style="padding: 0px !important;" href="#bimg12" aria-controls="bimg12" role="tab" data-toggle="tab">
            <div class="checki"><br><br><b><br>Nilanjana De</b><br>Consulting Senior Instructional Designer
            </div>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="tb2">

        <div role="tabpanel" class="tab-pane fade" id="bimg7"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Lindsay Tabas</span><br>
            <span style="font-weight: bold;">Consulting User Experience Expert, U.S.A</span><br>
            <span style="color: #108896;"><a target="_blank" href="https://www.linkedin.com/in/lindsaytabas">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="bimg8"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Cindy Schott</span><br>
            <span style="font-weight: bold;">Consulting Senior Instructional Designer, U.S.A</span><br>
            <span style="color: #108896;"><a target="_blank" href="https://www.linkedin.com/pub/cindy-schott-pmp/21/130/b5b">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="bimg9"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Tim Poteat</span><br>
            <span style="font-weight: bold;">Consulting Senior Content Developer, U.S.A</span><br>
            <span style="color: #108896;"><a target="_blank" href="https://www.linkedin.com/pub/tim-poteat/12/b78/31">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="bimg10"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Rajesh Rajagopal</span><br>
            <span style="font-weight: bold;">Manager, Learning Products (Bangalore, India)</span><br>
            <li>7+ Years of experience in Learning Product Development and Strategy</li>
            <li>Worked with TSYS, HCL and Capgemini</li>
            <li>Responsible at SmartOn for project management of learning products and strategy building</li>
            <li>Ardent reader and working on writing his first book.</li><br>
            <span style="color: #108896;"><a target="_blank" href="http://in.linkedin.com/in/rajeshexerceo">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="bimg11"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Sridhar B S</span><br>
            <span style="font-weight: bold;">Senior Developer (Bangalore, India)<br>
            <li>5 years experience in web application development with specific skills in Ruby on Rails and JSP, VB.net, HTML, CSS, JavaScript, etc.</li>
            <li>Responsible for design, development, testing and maintenance of SmartOn’s learning platform</li>
            <li>Well-versed in agile development methodologies</li>
            <li>Master’s degree in computer application </li>
            <li>A gaming geek and loves his PS3 console.</li><br>
            <span style="color: #108896;"><a target="_blank" href="#">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="bimg12"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Nilanjana De</span><br>
            <span style="font-weight: bold;">Consulting Senior Instructional Designer (Bangalore, India)</span><br>
            <li>10 years of experience in instructional design and learning sciences</li>
            <li>Previously worked with Deloitte and Tata Interactive</li><br>
            <span style="color: #108896;"><a target="_blank" href="https://www.linkedin.com/pub/nilanjana-de/24/324/504">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>  

      </div>
    </div>

    <div role="tabpanel" style="margin-left: 20px;">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" style="border: none;">

        <li role="presentation" class="pli"><img class="pimg" src="assets/headshots/business/vinay.jpg">
          <a style="padding: 0px !important;" href="#bimg13" aria-controls="bimg13" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Vinay Singh</b><br>Junior Developer
            </div>
          </a>
        </li>

        <li role="presentation" class="pli"><img class="pimg" src="assets/headshots/business/3.png">
          <a style="padding: 0px !important;" href="#bimg14" aria-controls="bimg14" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Max Savin</b><br>Growth Hacker
            </div>
          </a>
        </li>

        <li role="presentation" class="pli"><img class="pimg" src="assets/headshots/business/asha.png">
          <a style="padding: 0px !important;" href="#bimg15" aria-controls="bimg15" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Asha</b><br>Learning Products
            </div>
          </a>
        </li>

        <li role="presentation" class="pli"><img class="pimg" src="assets/headshots/business/4.png">
          <a style="padding: 0px !important;" href="#bimg16" aria-controls="bimg16" role="tab" data-toggle="tab">
            <div class="checki"><br><br><br><b>Karishma Tibrewala</b><br>Business Analyst
            </div>
          </a>
        </li>

  <!--       <li role="presentation" class="pli"><img class="pimg" src=""><a href="#bimg17" aria-controls="bimg17" role="tab" data-toggle="tab"><div class="checki"><br><br><br><b>Rajani</b><br>Bangalore</div></a></li>

        <li role="presentation" class="pli"><img class="pimg" src=""><a href="#bimg18" aria-controls="bimg18" role="tab" data-toggle="tab"><div class="checki"><br><br><br><b>Santosh</b><br>Bangalore</div></a></li> -->


      </ul>
      <div class="tab-content" id="tb3">
        <div role="tabpanel" class="tab-pane fade" id="bimg13"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Vinay Singh</span><br>
            <span style="font-weight: bold;">Junior Developer (Bangalore, India)<br>
            <li>4 years experience in web development such as Ruby on Rails, Grails, .NET, twitter boot strap, HTML5, CSS3, Javascript etc.</li>
            <li>Responsible for design, development, testing and maintenance of SmartOn’s learning platform. </li>
            <li>Bachelor’s degree in engineering and Masters in Advanced Software Technology from the prestigious IIIT</li>
            <li>Sports enthusiast; keen interest in technology start-ups.</li><br>
            <span style="color: #108896;"><a target="_blank" href="http://in.linkedin.com/pub/vieenay-siingh/a9/99a/847">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="bimg14"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Max Savin</span><br>
            <span style="font-weight: bold;">Growth Hacker, U.S.A</span><br>
            <li>Growth hacker and Developer at SmartOn </li>
            <li>Instructor at General Assembly</li>
            <li>Co-founder, Flutter-App</li><br>
            <span style="color: #108896;"><a target="_blank" href="https://www.linkedin.com/in/msavin">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="bimg15"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Asha</span><br>
            <span style="font-weight: bold;">Bangalore</span><br>
            <li>More than 2 Years Experience in Project Management</li>
            <li>Handled the PMO for ING account at Accenture</li>
            <li>Responsible at SmartOn for Courseware development</li><br>
            <span style="color: #108896;"><a target="_blank" href="#">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div> 

        <div role="tabpanel" class="tab-pane fade" id="bimg16"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Karishma Tibrewala</span><br>
            <span style="font-weight: bold;">Business Analyst, Bangalore</span><br>
            <li>Business Analyst at SmartOn</li>
            <li>Business Analyst with Goldman Sachs India (2012-2014)</li>
            <li>Masters from King’s College London and Computer Science Engineer</li><br>
            <span style="color: #108896;"><a target="_blank" href="https://www.linkedin.com/pub/karishma-tibrewala/28/608/668">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div> 
  <!-- 
        <div role="tabpanel" class="tab-pane fade" id="bimg17"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Rajani</span><br>
            <span style="font-weight: bold;">Bangalore</span><br>
            <span style="color: #108896;"><a target="_blank" href="#">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div> 

        <div role="tabpanel" class="tab-pane fade" id="bimg18"><br>
          <p style="color: black; font-size:14px; line-height: 200%;">
            <span style="font-weight: bold; font-size: 21px;">Santosh</span><br>
            <span style="font-weight: bold;">Bangalore</span><br>
            <span style="color: #108896;"><a target="_blank" href="#">Link to LinkedIn Profile<br><br></a></span>
          </p>
        </div>  -->

      </div>
    </div>
  </div>
</div>
