<div class="container-fluid backgroundimg">
  <div class="container" style="padding-top: 20px; padding-bottom: 50px;">
    <h1 class="center" style="font-family: 'GothamLight';">Teach your students where they live</h1><br><br>

    <div class="col-md-10 col-md-offset-1 col-xs-12">

      <p class="overviewp">Today’s students eat … sleep … study … get entertained connected. So why not meet them, reach them, and teach them right where they live?</p><br>


      <p class="overviewp">In fact, 21st century mediums like the Internet and social media sites are the ideal means to impart and develop 21st century skills. Encourage students to collaborate, communicate, be creative, think critically, and achieve technology fluency by incorporating digital learning methods into your teaching practices and professional development.</p><br>


      <p class="overviewp">SmartOn is excited about participating in a movement that is transforming higher education—and society at large—by expanding access and helping more students achieve their aspirations. As thousands of certificates, specializations, and degrees become universally accessible through technology, the resultant increase in educational attainment among global citizens will lead to improvements in their standards of living and rapid and sustainable economic development of their nations.</p><br>

      <p class="overviewp">We view our participation in this process as a real privilege and are committed to maximizing the latest distance learning technologies for the benefit of our partner universities and educational institutions and their students.</p>

    </div>
  </div>
</div>