<title>Terms and Conditions of SmartOn Learning Solutions</title>
<meta name="description" content="Terms and Conditions of SmartOn Learning Solutions">
<div class="container" style="margin-top: 10px; margin-bottom: 50px;">

  <h2>Terms of Use</h2>

  <p>By using this website, you signify your agreement to all terms, conditions, and notices contained or referenced herein (the "Terms of Use"). If you do not agree to these Terms of Use, please do not use this site. We reserve the right, at our discretion, to update or revise these Terms of Use. Please check the Terms periodically for changes. Your continued use of this website following the posting of any changes to the Terms of Use constitutes acceptance of those changes.</p>

  <h4>PROPRIETARY RIGHTS</h4>

  <p>This website and any publications and material which may be accessed from it are protected under all applicable copyright laws. Nothing on this Web site or in the publications and material may be downloaded, reproduced, stored in a retrieval system, modified, made available on a network, used to create derivative works, or transmitted in any form or by any means, electronic, mechanical, photocopying, recording, scanning, or otherwise, except (i) in the United States, as permitted under Section 107 or 108 of the 1976 United States Copyright Act, or internationally, as permitted by other applicable national copyright laws, or (ii) as expressly authorized on this Web site, or (iii) that a reasonable amount of material may be cached and stored by search engines indexing this Web site, or (iv) with prior written permission. Requests for permission should be addressed to SmartOn Learning Solutions, Plot #99, 3rd Floor, Koramangala Industrial Area, Bangalore- 560095, India.</p>

  <h4>DISCLAIMER OF WARRANTIES</h4>

  <p>The statements and opinions in the material contained on this website and any publications and material which may be accessed from this website are those of the individual contributors or advertisers, as indicated. We have used reasonable care and skill in compiling the content of this website. However, we make no warranty as to the accuracy or completeness of any information on this website and accept no responsibility or liability for any inaccuracy or errors and omissions, or for any damage or injury to persons or property arising out of the accessing or use of any files, software and other materials, instructions, methods or ideas contained on this website or in the publications and material accessed from it.</p><br>

  <p>Any third party website which may be accessed through this website or third party products discussed on this website are the sole responsibility of the third party posting the website or producing the product. We make no warranty, express or implied, as to such third party websites or products and accept no liability whatsoever for any errors and omissions or for any damage or injury to persons or property arising out of the use or operation of any such products or any materials, instructions, methods or ideas contained on such websites.</p><br>

  <p>ALL DOWNLOADABLE SOFTWARE AND FILES ARE DISTRIBUTED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATIONS, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, AND DOWNLOADING AND/OR USING THE SOFTWARE AND FILES IS AT THE USER'S SOLE RISK.</p>

  <h4>LIMITATION OF LIABILITY</h4>

  <p>UNDER NO CIRCUMSTANCES ARE WE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OF, OR INABILITY TO USE, THIS WEBSITE. THIS LIMITATION APPLIES WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR ANY OTHER BASIS, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, OUR LIABILITY IN SUCH JURISDICTIONS SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW.</p>

  <h4>INDEMNIFICATION</h4>

  <p>Upon a request by us, you agree to defend, indemnify, and hold harmless us and our licensees from all liabilities, claims, and expenses, including attorney's fees, that arise from your use or misuse of this website.</p>

  <h4>CHOICE OF LAW AND FORUM</h4>

  <p>These Terms of Use shall be governed by and construed in accordance with the laws of the State of New York, without regard to such State's conflict of law rules. You expressly agree that the exclusive jurisdiction for any claim or action arising out of or relating to these Terms of Use or your use of this website shall be filed only in the state or federal courts located in the State of New York, and you further agree and submit to the exercise of personal jurisdiction of such courts for the purpose of litigating any such claim or action.</p>

</div>