<div class ="container genpadding">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h1 class="center" style="text-transform: uppercase; text-decoration: underline;">Join Our team</h1><br><br>

    <p class="center">We are looking for curiosity, enthusiasm and willingness to learn quickly on the job in our team members. SmartOn may not be your last job, but we want to make it the one you're most proud of. Breaking new ground in online education is what gets us excited.</p><br>

    <h4 class="center" style="text-transform: uppercase;">Perks & Benefits</h4><hr class="perks"><br><br>

    <div class="col-xs-6 col-md-6">
      <ul class="workul">
        <li class="workli worklit">Competitive salaries</li><br>
        <li class="workli worklit">Gym membership</li><br>
      </ul>
    </div>

    <div class="col-xs-6 col-md-6">
      <ul class="workul">
        <li class="workli worklit">Annual health checkup</li><br>
        <li class="workli worklit">Reimbursement for skill focused courses</li><br>
      </ul>
    </div>

    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <ul class="workul">
        <li class="workli center gothamlight bold">Above all, an open and honest culture!</li><br>
      </ul>
    </div>

    <div class="col-xs-12 col-md-12 center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#getintouch">
        Get in Touch
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="getintouch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="col-md-9 col-md-offset-2">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Get in Touch</h4>
        </div>
        <div class="modal-body">

          <script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
          <script>
            hbspt.forms.create({ 
              portalId: '431252',
              formId: '5bc61796-f046-4814-97e7-c3c9190935d0'
            });
          </script>

        </div>
      </div>
    </div>
  </div>
</div>

<style>
 @media (max-width: 767px) {
  .col-xs-6 , .col-md-6 {
    padding: 0px;
  }
}
</style>