<div class="container-fluid footercontainerf">
  <div class="container">
    <div class="col-md-6 col-xs-12">
      <p class="footp">SmartOn is a global Edtech company helping leading Universities and higher education institutions to design, develop, and deliver 21st century education through innovative solutions and technology-enabled services</p><br>

        <a href="https://www.facebook.com/GetSmarton" target="_blank">
          <img src="assets/social/facebook.png" alt="smarton-facebook">
        </a>
        <a href="https://twitter.com/getsmarton" target="_blank">
          <img src="assets/social/twitter.png" alt="smarton-twitter">
        </a>
        <a href="http://www.linkedin.com/company/smarton-learning-solutions?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A405840461411062375832%2CVSRPtargetId%3A3273283%2CVSRPcmpt%3Aprimary" target="_blank">
          <img src="assets/social/linked_in.png" alt="smarton-linkedin">
        </a>

    </div>
    <div class="col-md-3 col-xs-12">
      <p class="foothd">
        About Smarton
      </p><br><hr class="foothr">
      <a href="overview">
        <p class="footi">
          About
        </p>
      </a><hr class="foothr">
      <a href="smarton-team">
        <p class="footi">
          Team
        </p>
      </a><hr class="foothr">
      <a href="smarton-partnership-model">
        <p class="footi">
          Partnership Model
        </p>
      </a><hr class="foothr">
      <a target="_blank" href="http://blog.smarton.co/?__hstc=181257784.5b4e0161a39397585374b7e60cbc01a4.1421245420844.1421245420844.1421389125462.2&__hssc=181257784.14.1421389125462&__hsfp=3482383470">
        <p class="footi">
          Blog
        </p>
      </a><hr class="foothr">
      <a href="partners#investors">
        <p class="footi">
          Our Investors
        </p>
      </a><hr class="foothr">
      <a data-no-turbolink='true' href="work-at-smarton">
        <p class="footi">
          Work at SmartOn
        </p>
      </a><hr class="foothr">
      <a href="find-a-program">
        <p class="footi">
          Find a Program
        </p>
      </a><hr class="foothr">
      <a data-no-turbolink='true' href="contact-us">
        <p class="footi">
          Contact Us
        </p>
      </a>
    </div>
    <div class="col-md-3 col-xs-12">
      <p class="foothd">
        Programs
      </p><br><hr class="foothr">
      <a target="_blank" href="http://www.pearllive.com/interior-design-courses.php">
        <p class="footi">
          Interior Design@Pearl Academy
        </p>
      </a><hr class="foothr">
      <a target="_blank" href="http://info.smarton.co/fashiondesign">
        <p class="footi">
          Fashion Design@Pearl Academy
        </p>
      </a><!-- <hr class="foothr">
      <a href="#">
        <p class="footi">
          E-Commerce@Galgotias
        </p>
      </a><hr class="foothr">
      <a href="#">
        <p class="footi">
          Digital Marketing@Galgotias
        </p>
      </a> -->
    </div>
  </div>

  <br><br>

  <div class="container">
    <p class="footlast">
      Copyright © 2015 SmartOn. <a href="terms">Terms and conditions<a>  |  <a href="privacy">Privacy policy<a>
    </p>
  </div>
  <div class="fb-like" data-href="https://www.smarton.co" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  <br>

</div>