<nav class="navbar navbar-default nav-container">
  <div class="container-fluid navcontainerfluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Brand" class="brandimg" src="assets/smarton_logo.png" alt="smarton-logo">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle dropdownli" data-toggle="dropdown" role="button" aria-expanded="false">About<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="dropdownlia" href="overview">Overview</a></li>
            <li class="divider"></li>
            <li><a class="dropdownlia" href="mission">Mission</a></li>
            <li class="divider"></li>
            <li><a class="dropdownlia" href="why-smarton">Why SmartOn</a></li>
            <li class="divider"></li>
            <li><a class="dropdownlia" href="smarton-partnership-model">Our Partnership Model</a></li>
            <li class="divider"></li>
            <li><a class="dropdownlia" href="smarton-team">Our Team</a></li>
            <li class="divider"></li>
            <li><a class="dropdownlia" href="smarton-advisory-board">Our Advisory Board</a></li>
          </ul>
        </li>

        <li><a class="dropdownli" href="/#services">Our Services<hr class="navhr"></a></li>
        <li><a class="dropdownli" target="_blank" href="http://blog.smarton.co/?__hstc=181257784.5b4e0161a39397585374b7e60cbc01a4.1421245420844.1421245420844.1421389125462.2&__hssc=181257784.14.1421389125462&__hsfp=3482383470">Blog<hr class="navhr"></a></li>
        <li><a class="dropdownli" href="partners">Partners<hr class="navhr"></a></li>
        <li><a class="dropdownli" href="find-a-program">Find A Program<hr class="navhr"></a></li>
        <li><a data-no-turbolink='true' class="getstarted dropdownli" href="get-started">Get Started</a></li>

      </ul>


    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>